{% extends 'base.html.twig' %}

{% block title %}Nouveau détachement{% endblock %}

{% block body %}
    <div class="container">
        <div class="h2 text-success">Apporter des modification sur un détachement</div>
        <hr>
        {% if app.session.flashBag.has('warning') %}
            <div class="alert alert-success">
                {% for msg in app.session.flashBag.get('warning') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
        {{ form_start(form) }}
        <div class="row">
            <div class="col-5 me-3">
                <fieldset>
                    <legend class="bg-dark text-center text-white">
                        Informations sur l'agent
                    </legend>
                    <hr>
                    <div class="row">
                        <div class="col-7">{{ form_row(form.matricule) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-7">{{ form_row(form.noms) }}</div>
                        <div class="col-5">{{ form_row(form.telephone) }}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ form_row(form.dateNaissance) }}</div>
                        <div class="col">{{ form_row(form.dateIntegration) }}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ form_row(form.refActeInt) }}</div>
                    </div>
                </fieldset>
            </div>
            <div class="col-5 ms-3">
                <fieldset>
                    <legend class="bg-dark text-center text-white">Informations sur le détachement</legend>
                    <hr>
                    <div class="row">
                        <div class="col">{{ form_row(form.typeActeDet) }}</div>
                        <div class="col ">{{ form_row(form.refActeDet) }}</div>
                        <div class="col">{{ form_row(form.dateActeDet) }}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ form_row(form.ministere) }}</div>
                        <div class="col">{{ form_row(form.gradeDet) }}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ form_row(form.classeDet) }}</div>
                        <div class="col">{{ form_row(form.echelonDet) }}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ form_row(form.dateDet) }}</div>
                        <div class="col">{{ form_row(form.datePriseService) }}</div>
                        <div class="col">{{ form_row(form.dateSuspension) }}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ form_row(form.organisme) }}</div>
                    </div>
                </fieldset>
            </div>
        </div>
        <button type="submit" class="btn btn-success">
            <i class="fas fa-check"></i>
            Enregistrer les modifications
        </button>
        {{ form_end(form) }}
    </div>
{% endblock %}
