{% extends 'base.html.twig' %}

{% block title %}{{ "Liste des agents détachés" | trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('asset/css/dataTables.bootstrap4.min.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="text-center">{{ "LISTE DES AGENTS DETACHES" | trans }} </h3>
        {% for message in app.session.flashBag.get('warning') %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endfor %}
        <hr>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="agentsdetaches" class="table table-striped table-hover mt-4">
                        <thead>
                            <tr class="table-dark">
                                <th>ID</th>
                                <th>{{ "MATRICULE" | trans }}</th>
                                <th>{{ "NOMS" | trans }}</th>
                                <th>{{ "ORGANISME" | trans }}</th>
                                <th class="text-center">{{ "DEBUT" | trans }}</th>
                                <th class="text-center">{{ "FIN" | trans }}</th>
                                <th class="text-end">{{ "ACTION" | trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% set i = 1 %}
                        {% for agentDetache in listeAgentDetaches %}
                            <tr>
                                <td>{{ i }}</td>
                                <td>{{ agentDetache.matricule }}</td>
                                <td>{{ agentDetache.noms }}</td>
                                <td>{{ agentDetache.organisme.sigle }}</td>
                                <td class="text-center">{{ agentDetache.dateDet | date('Y-m-d') }}</td>
                                <td class="text-center">
                                    {{ agentDetache.dateFinDet and agentDetache.dateFinDet | date('Y') != '-0001' ? agentDetache.dateFinDet | date('Y-m-d') : '-' }}
                                </td>
                                <td class="text-end">
                                    <a title="Modifier le détachement" href="{{ path('agent_detache_edit', {'id': agentDetache.id}) }}">
                                        <i class="fas fa-edit"></i><span class="ms-4"></span></a>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <a title="Supprimer le détachement" href="{{ path('delete_detache', {'id': agentDetache.id}) }}">
                                        <i class="fa fa-window-close text-danger"></i><span class="ms-4"></span></a>
                                    {% endif %}
                                    <a title="Détails du détachement" href="{{ path('agent_detache_details', {'id': agentDetache.id}) }}">
                                        <i class="fas fa-info-circle text-success"></i><span class="ms-4"></span></a>
                                    <a title="Mettre fin au détachement" href="{{ path('fin_detachement', {'id': agentDetache.id}) }}">
                                        <i class="fas fa-delete-left text-warning"></i><span class="ms-4"></span>
                                    </a>
                                </td>
                            </tr>
                            {% set i = i + 1 %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('asset/js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('asset/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('asset/js/popper.min.js') }}"></script>
    <script src="{{ asset('asset/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('asset/js/dataTables.bootstrap4.min.js') }}"></script>

    <script src="{{ asset('asset/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('asset/js/jszip.min.js') }}"></script>
    <script src="{{ asset('asset/js/pdfmake.min.js') }}"></script>
    <script src="{{ asset('asset/js/vfs_fonts.js') }}"></script>
    <script src="{{ asset('asset/js/buttons.html5.min.js') }}"></script>

    <script>
        $(document).ready(function(){
            var theDataTable = $('#agentsdetaches').DataTable({
                dom: 'Blfrtip',
                buttons: [
                    {
                        extend: 'copy',
                        text:      '<span class="fw-bolder">Copier</span>',
                        titleAttr: 'Copier les données du tableau',
                        className: 'btn btn-dark btn-sm',
                    },
                    {
                        extend: 'pdf',
                        text:      '<span class="fw-bolder">PDF</span>',
                        titleAttr: 'Exporter les données du tableau au format pdf',
                        className: 'btn btn-dark btn-sm',
                    },
                    {
                        extend: 'excel',
                        text:      '<span class="fw-bolder">MS Excel</span>',
                        titleAttr: 'Exporter les données du tableau au format excel',
                        className: 'btn btn-dark btn-sm',
                    }
                ]
            });
        });
    </script>
{% endblock %}