{% extends 'base.html.twig' %}

{% block title %}{{ "Fin détachement" | trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/css/angifode.css') }}" />
{% endblock %}

{% block body %}
    <div class="container">
        <div class="h4 text-success">{{ "Mettre fin au détachement de" | trans}} {{ detache.noms }} ({{ detache.matricule }})</div>
        {% for message in app.session.flashBag.get('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        <hr>
        {{ form_start(form) }}
        <div class="row">
            <div class="col">{{ form_row(form.dateFinDet) }}</div>
            <div class="col">{{ form_row(form.motifFinDet) }}</div>
        </div>
        <div class="row">
            <div class="col">{{ form_row(form.refActeFinDet) }}</div>
            <div class="col">{{ form_row(form.dateSigneActFinDet) }}</div>
        </div>
        <hr>
        <button type="submit" class="btn btn-success btn">
            <i class="fas fa-check"></i>
            <span class="fw-bolder">{{ "Enregistrer la fin de détachement" | trans }}</span>
        </button>
        <a class="btn btn-dark fw-bolder" href="{{ path('agent_detache_list') }}">
            <i class="fa fa-backward" aria-hidden="true"></i>
            {{ "Retourner à la liste des détachés" | trans }}
        </a>
        {{ form_end(form) }}
    </div>
{% endblock %}
