{% extends 'base.html.twig' %}

{% block title %}Fin détachement{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/css/angifode.css') }}" />
{% endblock %}

{% block body %}
    <div class="container">
        <div class="h4 text-success">Mettre fin au détachement de {{ detache.noms }} ({{ detache.matricule }})</div>
        {% for message in app.session.flashBag.get('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        <hr>
        {{ form_start(form) }}
        <div class="row">
            <div class="col">{{ form_row(form.dateFinDet) }}</div>
            <div class="col">{{ form_row(form.motifFinDet) }}</div>
        </div>
        <div class="row">
            <div class="col">{{ form_row(form.refActeFinDet) }}</div>
            <div class="col">{{ form_row(form.dateSigneActFinDet) }}</div>
        </div>
        <hr>
        <button type="submit" class="btn btn-success btn">
            <i class="fas fa-check"></i>
            <span class="fw-bolder">Enregistrer la fin de détachement</span>
        </button>
        <button type="reset" class="btn btn-dark btn">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
            <span class="fw-bolder">Annuler la fin de détachement</span>
        </button>
        {{ form_end(form) }}
    </div>
{% endblock %}
