{% extends 'base.html.twig' %}

{% block title %}Modifier votre password{% endblock %}

{% block body %}
    <div class="container">
        <div class="h2 text-success">Modifier votre mot de passe</div>
        {% for message in app.session.flashBag.get('success') %}
            <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
        {% for message in app.session.flashBag.get('danger') %}
            <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
        <hr>
        <div class="row-cols-2 justify-content-center d-flex align-items-center">
            {{ form_start(form) }}
            {{ form_row(form.old_password) }}
            {{ form_row(form.password, {
                label: 'Password'
            }) }}

            <button type="submit" class="btn btn-success">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                Enregistrer les modifications</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
