{% extends 'base.html.twig' %}

{% block title %}Modifier votre password{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('asset/css/angifode.css') }}"/>{% endblock %}
{% block body %}
    <div class="container">
        <div class="h2 text-success">Modifier votre mot de passe</div>
        {% for message in app.session.flashBag.get('success') %}
            <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
        {% for message in app.session.flashBag.get('danger') %}
            <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
        <hr>
        <div class="row-cols-2 justify-content-center d-flex align-items-center">
            {{ form_start(form) }}
            {{ form_row(form.old_password) }}
            {{ form_row(form.password, {
                label: 'Password'
            }) }}

            <button type="submit" class="btn btn-success btn-sm">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                <span class="fw-bolder">Enregistrer les modifications</span>
            </button>
            <a class="btn btn-dark btn-sm" href="{{ path('app_home') }}">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
                <span class="fw-bolder">Annuler les modifications</span>
            </a>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
