{% extends 'basehome.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('asset/css/angifode.css') }}"/>
{% endblock %}

{% block body %}
    <div class="container p-5 bg-light text-dark text-center">
        <p class="fs-4 text-success fw-bolder">
            Cette application vous permet de faire le suivi de constitution des droits à pension des agents publics
            en détachement auprès des organismes parapublics sur l'ensemble du territoire national.
        </p>
    </div>
    <div class="container my-4">
    <hr>
        <div class="row">
            <div class="col">
                <div class="card bg-primary text-white mb-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <i class="fas fa-university fa-3x"></i>
                            </div>
                            <div class="col-8">
                                <h4 class="card-title">{{ stats.nbOrganismes }} organismes parapublics</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="col">
                    <div class="card bg-success text-white mb-3 text-center">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <i class="fas fa-address-book fa-3x"></i>
                                </div>
                                <div class="col-8">
                                    <h4 class="card-title">{{ stats.nbAgentsDetaches }} agents publics détachés</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-dark text-white mb-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <i class="fas fa-users fa-3x"></i>
                            </div>
                            <div class="col-8">
                                <h4 class="card-title">{{stats.nbUsers }} utilisateurs inscrits</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row">
                <div class="col-sm">
                    <h4>Module de gestion des agents publics</h4>
                    <p>Gérez les agents public en détachement.</p>
                    <p>Créer un nouveau détachement, listez, modifiez ou supprimez les infos sur les agents publics en détachment dans votre organisme.</p>
                    <p class="lead">
                        <a class="btn btn-primary" href="{{ path('agent_detache_new') }}" role="button">
                            <i class="fas fa-male"></i>
                            Nouveau détachement !
                        </a>
                    </p>
                </div>
                <div class="col-sm">
                    <h4>Module de gestion des organismes</h4>
                    <p>Gérez les organismes parapublics.</p>
                    <p>Créez un nouvel organisme, listez, modifiez ou supprimez les infos sur les organismes parapublics existants au Cameroun.</p>
                    <p class="lead">
                        <a class="btn btn-primary" href="{{ path('create_organisme') }}" role="button">
                            <i class="fas fa-bank"></i>
                            Nouvel organisme !
                        </a>
                    </p>
                </div>
                <div class="col-sm">
                    <h4>Modules de gestion des reversements</h4>
                    <p>Gérez les reversements effectués par les organismes.</p>
                    <p>Enregistrez, listez, modifiez et supprimez tous les reversements effectués au sein d'un organisme pour les cotisations pour pensions des agents publics détachés.</p>
                    <p class="lead">
                        <a class="btn btn-primary" href="{{ path('reversement_new') }}" role="button">
                            <i class="fas fa-money-bill-transfer"></i> Nouveau reversement !
                        </a>
                    </p>
                </div>
                <div class="col-sm">
                    <h4>Modules de gestion de la dette sociale des EPA</h4>
                    <p>Gérez les états des sommes dues sur les cotisations.</p>
                    <p>Evaluez la dette de votre organisme sur les cotisations pour pension non encore reversées pour le compte des agents publics détachés au sein de votre structure.</p>
                    <p class="lead">
                        <a class="btn btn-primary" href="{{ path('agent_detache_new') }}" role="button">
                            <i class="fas fa-money-bill"></i>
                            Evaluer la dette sociale !
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
