<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_home') }}">
            <img src="{{ asset('asset/images/angifode.png') }}"  class=" d-block" width="45">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown me-4">
                    <a class="nav-link active dropdown-toggle fs-6" data-bs-toggle="dropdown"
                       href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-male" aria-hidden="true"></i>
                        Agents Public</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('agent_detache_new') }}">
                            <i class="fa fa-address-card" aria-hidden="true"></i>
                            Nouveau détachement
                        </a>
                        <a class="dropdown-item" href="{{ path('agent_detache_list') }}">
                            <i class="fa fa-list-ul" aria-hidden="true"></i>
                            Liste des détachés
                        </a>
                    </div>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown me-4">
                        <a class="nav-link active dropdown-toggle fs-6" data-bs-toggle="dropdown" href="#" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-building" aria-hidden="true"></i>
                            Organismes</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('create_organisme') }}">Créer un nouvel organisme</a>
                            <a class="dropdown-item" href="{{ path('organisme_list') }}">Liste des organismes</a>
                        </div>
                    </li>
                {% endif %}
                <li class="nav-item dropdown me-4">
                    <a class="nav-link active dropdown-toggle fs-6" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                        Reversements</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('reversement_new') }}">
                            <i class="fa fa-plus-square" aria-hidden="true"></i>
                            Nouveau reversement
                        </a>
                        <a class="dropdown-item" href="{{ path('reversement_list') }}">
                            <i class="fa fa-list-alt" aria-hidden="true"></i>
                            Liste des reversements
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown me-4">
                    <a class="nav-link active dropdown-toggle fs-6" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-file-text" aria-hidden="true"></i>
                        ESD</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('esd_orga') }}">Evaluation dette</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown me-4">
                        <a class="nav-link active dropdown-toggle fs-6" data-bs-toggle="dropdown" href="#" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            <span class="fw-bolder">Utilisateurs</span>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('app_register') }}">
                                <i class="fa fa-user-plus" aria-hidden="true"></i> Créer un nouvel utilisateur
                            </a>
                            <a class="dropdown-item" href="{{ path('user_list') }}">
                                <i class="fa fa-th-list" aria-hidden="true"></i> Liste des utilisateur
                            </a>
                        </div>
                    </li>
                {% endif %}
                <li class="nav-item dropdown me-4">
                    <a class="nav-link active dropdown-toggle fs-6" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                        Statistiques</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link active fs-6" href="#">
                        <i class="fa fa-laptop" aria-hidden="true"></i>
                        Guide</a>
                </li>
            </ul>
            <ul class="navbar-nav me-5">
                {% if app.user %}
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle fw-bolder" data-bs-toggle="dropdown" href="#" role="button"
                           aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-check"></i> {{ app.user.fullName }}
                        </a>
                        <div class="dropdown-menu" style="">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path("app_register") }}" class="dropdown-item">Créer un compte</a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a href="{{ path('password_edit') }}" class="dropdown-item">
                                Modifier mot de passe
                            </a>
                            <a href="#" class="dropdown-item">Modifier mon profile</a>
                            <div class="dropdown-divider"></div>
                            <a href="{{ path('app_logout') }}" class="dropdown-item"
                               id="myLinkToConfirm" data-confirm-title="Attention !"
                               data-confirm-message="Etes-vous sûr de vouloir vous déconnectez ?">
                                Se déconnecter
                            </a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link active taille fs-6 fw-bolder" href="{{ path('app_login') }}">
                            <i class="fas fa-sign-in-alt"></i>
                            Se connecter <span class="sr-only">(current)</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>