{% extends 'base.html.twig' %}

{% block title %}{{ "Statistiques: Liste des structures qui n'ont pas encore reversé pour le compte de l'année en cours" | trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('asset/css/dataTables.bootstrap4.min.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid my-4">
        <hr>
        {% include 'partials/_chiffres.html.twig' with {'stats': stats} %}
        <hr>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                {% include 'partials/_ulstats.html.twig' %}
            </div>
            <div class="col">
                <h4>{{ "Liste des structures qui n'ont pas encore reversé pour le compte de l'année en cours" | trans }}</h4>
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="totalsar" class="table table-striped table-hover">
                                <thead>
                                <tr class="table-primary">
                                    <th class="text-center fw-bolder">ID</th>
                                    <th class="ps-5 fw-bolder">{{ "SIGLE" | trans }}</th>
                                    <th class="ps-5 fw-bolder">{{ "LIBELLE" | trans }}</th>
                                    <th class="text-center fw-bolder">{{ "TELEPHONES" | trans }}</th>
                                    <th class="ps-5 fw-bolder">{{ "EMAIL" | trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set i = 1 %}
                                {% for organisme in anypayinyear %}
                                    <tr>
                                        <td class="text-center fw-bolder pe-5">{{ i }}</td>
                                        <td class="ps-5 fw-bolder">{{ organisme.sigle }}</td>
                                        <td class="ps-5 fw-bolder">{{ organisme.libelleOrg }}</td>
                                        <td class="text-center fw-bolder">{{ organisme.telephone1 }}{% if organisme.telephone2 %} / {{ organisme.telephone2 }}{% endif %}</td>
                                        <td class="ps-5 fw-bolder">{{ organisme.email }}</td>
                                    </tr>
                                    {% set i = i + 1 %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('asset/js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('asset/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('asset/js/popper.min.js') }}"></script>
    <script src="{{ asset('asset/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('asset/js/dataTables.bootstrap4.min.js') }}"></script>

    <script src="{{ asset('asset/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('asset/js/jszip.min.js') }}"></script>
    <script src="{{ asset('asset/js/pdfmake.min.js') }}"></script>
    <script src="{{ asset('asset/js/vfs_fonts.js') }}"></script>
    <script src="{{ asset('asset/js/buttons.html5.min.js') }}"></script>

    <script>
        $(document).ready(function(){
            var theDataTable = $('#totalsar').DataTable({
                dom: 'Blfrtip',
                buttons: [
                    {
                        extend: 'copy',
                        text:      '<span class="fw-bolder">Copier</span>',
                        titleAttr: 'Copier les données du tableau',
                        className: 'btn btn-dark btn-sm',
                    },
                    {
                        extend: 'pdf',
                        text:      '<span class="fw-bolder">PDF</span>',
                        titleAttr: 'Exporter les données du tableau au format pdf',
                        className: 'btn btn-dark btn-sm',
                    },
                    {
                        extend: 'excel',
                        text:      '<span class="fw-bolder">MS Excel</span>',
                        titleAttr: 'Exporter les données du tableau au format excel',
                        className: 'btn btn-dark btn-sm',
                    }
                ]
            });
        });
    </script>
{% endblock %}
