{% extends 'base.html.twig' %}

{% block title %}Nouvelle cotisation{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('asset/css/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('asset/css/angifode.css') }}"/>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="h4 text-success">
            Modification du montant de la cotisation de {{ agent }} liée au reversement N° {{ reversement.refTitre }}
        </div>
        {% for message in app.session.flashBag.get('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        <hr>
        <div class="row">
            <div class="col">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    ORGANISME :
                    <span class="badge bg-dark rounded-pill">{{ reversement.organisme.sigle }}</span>
                </li>
            </div>
            <div class="col">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    PERIODE :
                    <span class="badge bg-dark rounded-pill">Du
                        {{ reversement.dateDebRev | format_datetime('short', 'none', locale='fr') }} au
                        {{ reversement.dateFinRev | format_datetime('short', 'none', locale='fr') }}
                    </span>
                </li>
            </div>
            <div class="col">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    MONTANT :
                    <span class="badge bg-dark rounded-pill">
                        {{ reversement.montantRev | number_format(0,'.',' ')}} FCFA
                    </span>
                </li>
            </div>
            <div class="col">
                {% set montantReversement = reversement.montantRev %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    GAP :
                    <span class="badge bg-danger rounded-pill">
                        {{ (montantReversement - totalCotisation) | number_format(0,'.',' ')}} FCFA
                    </span>
                </li>
            </div>
        </div>
        <hr>
        {{ form_start(form) }}
        <div class="row mt-5">
            <div class="col">{{ form_row(form.cotSalariale) }}</div>
            <div class="col">{{ form_row(form.cotPatronale) }}</div>
            <div class="col">{{ form_row(form.cotTotale) }}</div>
        </div>
        <div class="row mt-4">
            <div class="col-4">
                <button type="submit" class="btn btn-success btn-sm mt-4">
                    <i class="fas fa-check"></i>
                    <span class="fw-bolder"> Enregistrer les modifications</span>
                </button>
                <a class="btn btn-dark btn-sm mt-4" href="{{ path('reversement_list') }}">
                    <i class="fa fa-window-restore" aria-hidden="true"></i>
                    <span class="fw-bolder"> Annuler les modifications</span>
                </a>
            </div>
            <div class="col-2 ms-auto">
                <a title="Supprimer la cotisation" data-bs-toggle="modal" data-bs-target="#modal1" class="btn btn-danger btn-sm mt-4">
                    <i class="fa fa-times text-danger"></i> Supprimer la cotisation
                </a>
                <div class="modal fade text-start" id="modal1" data-bs-backdrop="static">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Suppression d'une cotisation !</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Voulez-vous réellement supprimer cette cotisation de {{ cotisation.agent.noms }}({{ cotisation.agent.matricule }}) ?</p>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-danger" href="{{ path('cotisation_delete', {'id': cotisation.id}) }}">Oui, Supprimer</a>
                                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Non, Annuler</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
