<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ANGIFODE - {% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{ asset('asset/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('asset/css/all.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('asset/css/angifode.css') }}"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <style>
            body {
                background-image: linear-gradient(
                        rgba(255, 255, 255, 0.9),
                        rgba(255, 255, 255, 0.9)
                ), url("{{ asset('asset/images/angifode.png') }}");
                background-position: center;
                background-color: white;
                background-repeat: no-repeat;
                min-height: 100%;
            }
        </style>
        <div class="main">
            <div class="row align-items-center">
                <div class="col ms-auto"><img src="{{ asset('asset/images/logo_minfi.jpg') }}" class="float-start d-block" width="60" height="60"></div>
                <div class="col-9">
                    <img src="{{ asset('asset/images/angifode.png') }}" class="rounded mx-auto d-block" width="60" height="60">
                    <h4 class="pt-1 text-center">APPLICATION NATIONALE DE GESTION INFORMATIQUE DES FONCTIONNAIRES EN DETACHEMENT</h4>
                </div>
                <div class="col-1 me-auto"><img src="{{ asset('asset/images/logo_dgb.png') }}" class="float-end d-block" width="60" height="60"></div>
            </div>
            <div class="good">
                {# Inclusion du header dans le template de base  avec twig #}
                {% include "partials/_header.html.twig" %}

                {% block body %}{% endblock %}
            </div>
        </div>
        {# Inclusion du footer dans le template de base avec twig #}
        {% include "partials/_footer.html.twig" %}
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('asset/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('asset/js/all.min.js') }}"></script>
    </body>
</html>
