{% extends 'base.html.twig' %}

{% block title %}Liste des organisme{% endblock %}

{% block stylesheets %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ asset('asset/css/dataTables.bootstrap4.min.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="text-center">LISTE DES ORGANISMES</h3>
        {% for message in app.session.flashBag.get('warning') %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endfor %}
        <hr>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="agentsdetaches" class="table table-striped table-hover mt-4">
                        <thead>
                        <tr class="table-dark">
                            <th>ID</th>
                            <th>SIGLE</th>
                            <th>LIBELLE</th>
                            <th>VILLE</th>
                            <th class="text-center">ACTION</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% set i = 1 %}
                            {% for organisme in listeOrganismes %}
                                <tr>
                                    <td>{{ i }}</td>
                                    <td>{{ organisme.sigle }}</td>
                                    <td>{{ organisme.libelleOrg }}</td>
                                    <td>{{ organisme.ville }}</td>
                                    <td class="text-center">
                                        <a title="Modifier les informations sur l'organisme {{ organisme.sigle }}" href="{{ path('organisme_edit', {'id': organisme.id}) }}">
                                            <i class="fas fa-edit text-success"></i><span class="ms-4"></span>
                                        </a>
                                    </td>
                                </tr>
                                {% set i = i + 1 %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('asset/js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('asset/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('asset/js/popper.min.js') }}"></script>
    <script src="{{ asset('asset/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('asset/js/dataTables.bootstrap4.min.js') }}"></script>

    <script src="{{ asset('asset/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('asset/js/jszip.min.js') }}"></script>
    <script src="{{ asset('asset/js/pdfmake.min.js') }}"></script>
    <script src="{{ asset('asset/js/vfs_fonts.js') }}"></script>
    <script src="{{ asset('asset/js/buttons.html5.min.js') }}"></script>

    <script>
        $(document).ready(function(){
            var azemDataTable = $('#agentsdetaches').DataTable({
                dom: 'Blfrtip',
                buttons: [
                    {
                        extend: 'copy',
                        text:      '<i class="fas fa-copy" style="font-size:25px;color:blue;"></i>',
                    },
                    {
                        extend: 'pdf',
                        text:      '<i class="fas fa-file-pdf" style="font-size:25px;color:red;"></i>',
                        exportOptions: {
                            columns: [0,1,2] // Column index which needs to export
                        }
                    },
                    {
                        extend: 'csv',
                        text:      '<i class="fas fa-file-alt" style="font-size:25px;color:black;"></i>',
                    },
                    {
                        extend: 'excel',
                        text:      '<i class="fas fa-file-excel" style="font-size:25px;color:darkgreen;"></i>',
                    }
                ]
            });
        });
    </script>
{% endblock %}