{% extends 'base.html.twig' %}

{% block title %}Nouvel organisme{% endblock %}

{% block stylesheets %}<link rel="stylesheet" type="text/css" href="{{ asset('asset/css/angifode.css') }}"/>{% endblock %}

{% block body %}
    <div class="container">
        <div class="h4 text-success">Création d'un organisme</div>
        {% for message in app.session.flashBag.get('success') %}
            <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
        <hr>
        {{ form_start(form) }}
            <div class="row mt-4">
                <div class="col-9">
                    {{ form_row(form.libelleOrg) }}
                </div>
                <div class="col-3">{{ form_row(form.sigle) }}</div>
            </div>
            <div class="row mt-4">
                <div class="col">{{ form_row(form.siege) }}</div>
                {# <div class="col">{{ form_row(form.region) }}</div> #}
                <div class="col">{{ form_row(form.ville) }}</div>
                <div class="col">{{ form_row(form.quartier) }}</div>
            </div>
            <div class="row mt-4">
                <div class="col">{{ form_row(form.email) }}</div>
                <div class="col">{{ form_row(form.bp) }}</div>
                <div class="col">{{ form_row(form.siteWeb) }}</div>
            </div><div class="row mt-4">
                <div class="col">{{ form_row(form.telephone1) }}</div>
                <div class="col">{{ form_row(form.telephone2) }}</div>
                <div class="col">{{ form_row(form.fax) }}</div>
            </div>
            <button type="submit" class="btn btn-success btn-sm mt-4">
                <i class="fas fa-check"></i>
                <span class="fw-bolder">Valider la création de l'organisme</span>
            </button>
            <button type="reset" class="btn btn-dark btn-sm mt-4">
                <i class="fas fa-times"></i>
                <span class="fw-bolder">Annuler la création de l'organisme</span>
            </button>
        {{ form_end(form) }}
    </div>
    
{% endblock %}
