{% extends 'base.html.twig' %}

{% block title %}Modifier les informations sur un organisme{% endblock %}

{% block stylesheets %}<link rel="stylesheet" type="text/css" href="{{ asset('asset/css/angifode.css') }}"/>{% endblock %}

{% block body %}
    <div class="container">
        <div class="h4 text-success">Modifier l'organisme {{ organisme.sigle }}</div>
        {% for message in app.session.flashBag.get('warning') %}
            <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
        <hr>
        {{ form_start(form) }}
            <div class="row">
                <div class="col-9">
                    {{ form_row(form.libelleOrg) }}
                </div>
                <div class="col-3">{{ form_row(form.sigle) }}</div>
            </div>
            <div class="row">
                <div class="col">{{ form_row(form.siege) }}</div>
                {# <div class="col">{{ form_row(form.region) }}</div> #}
                <div class="col">{{ form_row(form.ville) }}</div>
                <div class="col">{{ form_row(form.quartier) }}</div>
            </div>
            <div class="row">
                <div class="col">{{ form_row(form.email) }}</div>
                <div class="col">{{ form_row(form.bp) }}</div>
                <div class="col">{{ form_row(form.siteWeb) }}</div>
            </div><div class="row">
                <div class="col">{{ form_row(form.telephone1) }}</div>
                <div class="col">{{ form_row(form.telephone2) }}</div>
                <div class="col">{{ form_row(form.fax) }}</div>
            </div>
            <div class="row mt-4">
                <div class="col-4">
                    <button type="submit" class="btn btn-success btn-sm">
                        <i class="fas fa-check"></i>
                        <span class="fw-bolder"> Enregistrer les modifications</span>
                    </button>
                    <a class="btn btn-dark btn-sm" href="{{ path('organisme_list') }}">
                        <i class="fa fa-window-restore" aria-hidden="true"></i>
                        <span class="fw-bolder"> Annuler les modifications</span>
                    </a>
                </div>
                <div class="col-2 ms-auto">
                    <a title="Supprimer l'organisme" data-bs-toggle="modal" data-bs-target="#modal1" class="btn btn-danger btn-sm">
                        <i class="fa fa-times"></i>
                        <span class="fw-bolder"> Supprimer cet organisme</span>
                    </a>
                    <div class="modal fade text-start" id="modal1" data-bs-backdrop="static">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Suppression d'un organisme !</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true"></span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Voulez-vous réellement supprimer l'organisme {{ organisme.sigle }} ? </p>
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-danger" href="{{ path('organisme_edit', {'id': organisme.id}) }}">Oui, Supprimer</a>
                                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Non, Annuler</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
